main {
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  margin: 0 auto;
}
header {
  border: 10px solid black;
}
@media (min-width: 786px) {
  img {
    width: 60%;
    height: auto;
  }
  #steve-img {
    border-radius: 50%;
    border: 10px solid black;
  }
  #apple-logo {
    border-radius: 50%;
    border: 10px solid black;
  }
  #AppleI-img {
    border-radius: 50%;
    border: 10px solid black;
  }
  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 5px;
  }

  .grid-item {
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  .item1 {
    grid-row: 1;
    grid-column: 1;
    border: 10px solid black;
  }
  .item2 {
    grid-row: 2;
    grid-column: 1;
    margin: auto;
  }
  .item3 {
    grid-row: 1;
    grid-column: 2;
    margin: auto;
  }
  .item4 {
    grid-row: 1;
    grid-column: 3;
    border: 10px solid black;
  }
  .item5 {
    grid-row: 2;
    grid-column: 2;
    border: 10px solid black;
  }
  .item6 {
    grid-row: 2;
    grid-column: 3;
    margin: auto;
  }

  footer {
    border: 10px solid black;
  }
}
@media (min-width: 500px) and (max-width: 786px) {
  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 5px;
  }

  .grid-item {
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  .item1 {
    grid-row: 1;
    grid-column: 1 / 3;
    border: 10px solid black;
  }
  .item2 {
    grid-row: 2;
    grid-column: 1;
    margin: auto;
  }
  .item3 {
    grid-row: 1;
    grid-column: 3;
    margin: auto;
  }
  .item4 {
    grid-row: 2;
    grid-column: 2 / 4;
    border: 10px solid black;
  }
  .item5 {
    grid-row: 3;
    grid-column: 1 / 3;
    border: 10px solid black;
  }
  .item6 {
    grid-row: 3;
    grid-column: 3;
    margin: auto;
  }
  img {
    width: 50%;
    height: auto;
  }
  #steve-img {
    border-radius: 50%;
    border: 10px solid black;
  }
  #apple-logo {
    border-radius: 50%;
    border: 10px solid black;
  }
  #AppleI-img {
    border-radius: 50%;
    border: 10px solid black;
  }
  footer {
    border: 10px solid black;
  }
}
@media (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 5px;
  }

  .grid-item {
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  .item1 {
    grid-row: 2;
    grid-column: 1 / 4;
    border: 10px solid black;
  }
  .item2 {
    grid-row: 3;
    grid-column: 1 / 4;
    margin: auto;
  }
  .item3 {
    grid-row: 1;
    grid-column: 1 / 4;
    margin: auto;
  }
  .item4 {
    grid-row: 4;
    grid-column: 1 / 4;
    border: 10px solid black;
  }
  .item5 {
    grid-row: 6;
    grid-column: 1 / 4;
    border: 10px solid black;
  }
  .item6 {
    grid-row: 5;
    grid-column: 1 / 4;
    margin: auto;
  }
  img {
    width: 20%;
    height: auto;
  }
  #steve-img {
    border-radius: 50%;
    border: 10px solid black;
  }
  #apple-logo {
    border-radius: 50%;
    border: 10px solid black;
  }
  #AppleI-img {
    border-radius: 50%;
    border: 10px solid black;
  }
  footer {
    border: 10px solid black;
  }
}
